{{set . "title" "Products"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h1>Current Product</h1>

<div>
	<form id="{{.product.ProductId}}" action="{{.product.ProductId}}/edit" method="post">
		<p><span>Name:</span><input name="name" type="text" value="{{.product.Name}}"/></p>
		<p><span>Description:</span><textarea name="description" cols="5" rows="6" >{{.product.Description}}</textarea></p>
		<p><span>{{.product.CreateAt.Format "2006-01-02 15:04:05"}}</span></p>
		<input type="submit" value="submit" />
	</form>

</div>

{{template "footer.html" .}}
