{{set . "title" "Products"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h1>Current Products</h1>

{{if not .products}}
<p>
  No Products Found
</p>
{{else}}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Create At</th>
    </tr>
  </thead>
  <tbody>
    {{range .products}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.CreateAt.Format "2006-01-02 15:04:05"}}</td>
      <td>{{.ProductId}}</td>
      <td>
        <form id="d{{.ProductId}}" method="POST" action="/products/{{.ProductId}}/cancel">
          <a href="javascript:document.getElementById('d{{.ProductId}}').submit();">Cancel</a>
        </form>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}

<div>
	<p>
    <a href="{{url "Products.New"}}">Add New Product</a>
  </p>
</div>
{{template "footer.html" .}}
