{{set . "title" "Products"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<h1>Current Products</h1>
<div class="new_main_form">
	<div class="products">
{{if not .products}}
<div>
<p style="text-align:center;">
  No Products Found
</p>
</div>
{{else}}
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Create At</th>
			<th>Edit</th>
			<!--
			<th>Del</th>
			-->
    </tr>
  </thead>
  <tbody>
    {{range .products}}
    <tr>
			<td><a href="/products/{{.ProductId}}/apis/list">{{.Name}}</a></td>
      <td>{{.CreateAt.Format "2006-01-02 15:04:05"}}</td>
      <td>
        <form id="e{{.ProductId}}" method="GET" action="/products/{{.ProductId}}">
          <a href="javascript:document.getElementById('e{{.ProductId}}').submit();">Edit</a>
        </form>
      </td>
			<!--
			<td>
        <form id="d{{.ProductId}}" method="GET" action="/products/{{.ProductId}}/delete">
          <a href="javascript:document.getElementById('d{{.ProductId}}').submit();">Delete</a>
        </form>
      </td>
			-->
    </tr>
    {{end}}
  </tbody>
</table>
<div class="bottom">
<div class="pager">
	<p><div style="float:left;padding-left:20px;"><span><a href="{{url "Products.List" 10 .previousPage}}">previousPage</a><a href="{{url "Products.List" 10 .nextPage}}">nextPage</a>&nbsp;total:{{.total}}</span></div>
	<div style="float:right;"><span><a href="{{url "Products.New"}}">Add Product</a></span></div></p>
</div>
</div>
{{end}}
</div>
</div>

{{template "footer.html" .}}
